.gallery{
   display: flex;
    width: 400px;
    flex-wrap: wrap;
    align-content:center;
    row-gap: 40px;
    column-gap: 400px;
    background-color: rgb(255, 208, 0);
}
.product{
    width: 50%;
    background-color: rgb(0, 255, 55);
    height: 33px;
}