@use "sass:map"; 
$colors: (
    "primary": #0d6efd,
    "success": #198754,
    "danger": #dc3545
);

.btn-base {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    color: white;
}

.btn-primary {
    @extend .btn-base;
    background-color: map.get($colors, "primary");
}

.btn-success {
    @extend .btn-base;
    background-color: map.get($colors, "success");
}

.btn-danger {
    @extend .btn-base;
    background-color: map.get($colors, "danger");
}